:root {
    --primary-color: #0D6EFD;
}

body {
    background-image: url('/assets/file/system/bg.jpg');
    background-size: cover;
    background-position: top;
    background-repeat: no-repeat;
    min-height: 100vh !important;
    display: flex;
}